<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testscripts.TC002_POST_RegisterUnsuccess"/>
      <class name="testscripts.TC003_PUT_UpdateDetails"/>
      <class name="testscripts.TC002_POST"/>
      <class name="testscripts.TC004_DELETE"/>
      <class name="testscripts.TC001_GET_Singleuser"/>
      <class name="testscripts.TC001_GET_UserNotFound"/>
      <class name="testscripts.TC001_GET_ListUsers"/>
      <class name="testscripts.TC002_POST_RegisterSuccess"/>
      <class name="testscripts.TC001_GET"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
